/*Font mario*/
@font-face {
	font-family: 'mario';
	src: url('../font/emulogic.ttf');
}



.screen{
	height: 100vh;
	width: 100vw;
	background-color: #6386FB;
}

/*ekran startowy*/
.screenStart{
	height: 100vh;
	width: 100vw;
	background: rgb(0, 0, 0);
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.btnStart{
	width: 130px;
	text-align: center;
	height: 40px;
	color: black;
	background-color: white;
	font-family: "mario", sans-serif;
	font-size: 1em;
	line-height: 40px;
	border: none;
}
.startTitle{
	text-align: center;
	font-size: 4em;
	font-family: "mario", sans-serif;
	line-height: 2em;

	color: white;
}

.btnStart:active {
	background-color: rgb(0, 100, 100);

}

.TextStart{
	font-size: 1,5em;
	color: white;
	font-family: "mario", sans-serif;
	margin-bottom: 5%;
}

.StartText{
	display: none;
	position: absolute;
	width: 100vw;
	text-align: center;
	top: 30%;
}
.StartText p {
	display: inline-block;
	font-size: 5em;
	color: white;
	font-family: "mario", sans-serif;
	margin-bottom: 5%;
}

.mario{
	background-image: url("../img/marioBig.png");
	height: 100px;
	width: 50px;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	display: inline-block;
	top: calc(87% - 53px);
	left: calc(50% - 50px);
	z-index: 10;
}

/*klasa do odwracania*/
.mirror {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
/*klatka strzelania*/
.marioFire{
	background-image: url("../img/marioFire.png");
	height: 100px;
	width: 50px;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	display: inline-block;
	top: calc(88% - 53px);
	left: calc(50% - 50px);
	z-index: 10;
}


.fireBold{
	position: absolute;
	top: 85%;
	left: 50%;
	background-image: url("../img/fireballAnimation.png");
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	background-size: cover;
	position: 0;
	display: none;
	z-index: 20;
}
.fireBoldExplode{
	position: absolute;
	background-image: url("../img/fireballExplode.png");
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	background-size: cover;
	position: 0;
	z-index: 20;
}

.evilCharakter{
	position: absolute;
	top: 50%;
	left: 30%;
	background-image: url("../img/chmurka.png");
	width: 52px;
	height: 80px;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 20;
	display: none;

}
.cloudHit{
	position: absolute;
	background-image: url("../img/evilExplode2.png");
	width: 52px;
	height: 80px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0;
	z-index: 20;
	display: none;
}

.floor{
	position: absolute;
	background-image: url("../img/floorOne.png");
	background-repeat: repeat-x;
	height: 40px;
	width: 100vw;
	background-size: contain;
	top: 94%;
	z-index: 50;
}

.score{
	position: absolute;
	display: inline-block;
	font-family: "mario", sans-serif;
	color: white;
	padding-left: 3%;
	padding-top: 3%;
	font-weight: 1em;
}

.cloud{
	position: absolute;
	top: 20%;
	left: 7%;
	background-image: url("../img/cloud2.png");
	height: 66px;
	width: 86px;
	background-repeat: no-repeat;
	background-size: contain;
}
.cloud-1{
	position: absolute;
	top: 20%;
	left: 70%;
	background-image: url("../img/cloud-1.png");
	height: 68px;
	width: 185px;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 10;
}
.thunder{
	position: absolute;
	top: 25%;
	left: 77%;
	background-image: url("../img/błyskawica2.png");
	height: 461px;
	width: 68px;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 0;
	display: none;
}
.mountain{
	position: absolute;
	top: 78%;
	left: 70%;
	background-image: url("../img/mountain.png");
	height: 115px;
	width: 261px;
	background-repeat: no-repeat;
	background-size: contain;

}
.bush{
	position: absolute;
	top: 87%;
	left: 18%;
	background-image: url("../img/bush.png");
	height: 68px;
	width: 185px;
	background-repeat: no-repeat;
	background-size: contain;
}
.pipe{
	position: absolute;
	top: 84%;
	left: 6%;
	background-image: url("../img/pipe.png");
	height: 70px;
	width: 85px;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 20;

}
.pipeTxt{
	color: white;
	font-size: 1.5em;
	font-family: "mario", sans-serif;
	position: relative;
	top: -48%;
	left: -30%;
	display: none;
}
.luigi{
	background-image: url("../img/luigi.png");
	height: 62px;
	width: 50px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: inline-block;
	top: -88%;
	left: 20%;
	display: none;
}

.lugiTxt{
	color: white;
	font-size: 1em;
	width: 200px;
	text-align: center;
	line-height: 1.3em;
	font-family: "mario", sans-serif;
	position: relative;
	top: -80%;
	left: -140%;

}


/*HOME podstrona*/

.scens{
	width: 100vw;
	height: 30000px;
}
.htmlScen{
	width: 100%;
	height: 15000px;
	background-color: rgb(78,205,196);
}
.fixed{
	height: 1px;
	width: 1px;
	position: fixed;
	border: 1px solid red;
}
.bitman{
	background-image: url("../img/8bitMen_scen1.png");
	width: 11%;
	height: 0;
	padding-bottom: 20.2%;
	background-size: cover;
	background-repeat: no-repeat;
	display: none;
	position: fixed;
	top: 46%;
	z-index: 10;

}
.bitmanKey{
	background-image: url("../img/8bitMen_key.png");
	width: 11%;
	height: 0;
	padding-bottom: 20.1%;
	animation:key 400ms steps(2) infinite;
	padding-bottom: 20.1%;
	background-size: cover;
	background-repeat: no-repeat;
	display: none;
	position: fixed;
	top: 46%;
	z-index: 10;

}

@keyframes key {

	0%{
		background-position: 0 0;
	}
  100%{
    background-position: 195% 0;
  }

}

.mario{
	background-image: url("../img/marioSmall.png");
	width: 10%;
	height: 0;
	padding-bottom: 9.1%;
	background-size: cover;
	background-repeat: no-repeat;
	display: none;
	position: fixed;
	top: 43%;
	z-index: 0;
	left: 85%;
}


.desk{
	background-image: url("../img/desk.png");
	width: 25%;
	height: 0%;
	padding-bottom: 21%;
	background-size: cover;
	background-repeat: no-repeat;
	display: none;
	position: fixed;
	top: 50%;
	left: 75%;
	z-index: 10;
}
