/*Font mario*/
@font-face {
	font-family: 'mario';
	src: url('../font/emulogic.ttf');
}



.screen{
	height: 100vh;
	width: 100vw;
	background-color: #6386FB;
}

.screenStart{
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.btnStart{
	width: 130px;
	text-align: center;
	height: 40px;
	color: white;
	background-color: rgb(0, 255, 18);
	font-family: "mario", sans-serif;
	font-size: 1em;
	line-height: 40px;
	border: none;
}

.btnStart:active {
	background-color: rgb(0, 100, 100);

}

.TextStart{
	font-size: 1,5em;
	color: white;
	font-family: "mario", sans-serif;
	margin-bottom: 5%;
}

.StartText{
	display: none;
	position: absolute;
	width: 100vw;
	text-align: center;
	top: 30%;
}
.StartText p {
	display: inline-block;
	font-size: 5em;
	color: white;
	font-family: "mario", sans-serif;
	margin-bottom: 5%;
}

.mario{
	background-image: url("../img/marioBig.png");
	height: 100px;
	width: 50px;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	display: inline-block;
	top: calc(87% - 53px);
	left: calc(50% - 50px);
	z-index: 10;
}
.fireBold{
	position: absolute;
	top: 85%;
	left: 50%;
	background-image: url("../img/fireball.png");
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	background-size: contain;
	display: none;
	z-index: 20;
}

.evilCharakter{
	position: absolute;
	top: 50%;
	left: 30%;
	background-image: url("../img/chmurka.png");
	width: 50px;
	height: 80px;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 20;

}

.floor{
	position: absolute;
	background-image: url("../img/floorOne.png");
	background-repeat: repeat-x;
	height: 40px;
	width: 100vw;
	background-size: contain;
	top: 94%;
	z-index: 10;
}

.score{
	position: absolute;
	display: inline-block;
	font-family: "mario", sans-serif;
	color: white;
	padding-left: 3%;
	padding-top: 3%;
	font-weight: 1em;
}

.cloud{
	position: absolute;
	top: 20%;
	left: 7%;
	background-image: url("../img/cloud2.png");
	height: 66px;
	width: 86px;
	background-repeat: no-repeat;
	background-size: contain;
}
.cloud-1{
	position: absolute;
	top: 20%;
	left: 70%;
	background-image: url("../img/cloud-1.png");
	height: 68px;
	width: 185px;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 10;
}
.thunder{
	position: absolute;
	top: 25%;
	left: 77%;
	background-image: url("../img/błyskawica2.png");
	height: 461px;
	width: 68px;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 0;
	display: none;
}
.mountain{
	position: absolute;
	top: 78%;
	left: 70%;
	background-image: url("../img/mountain.png");
	height: 115px;
	width: 261px;
	background-repeat: no-repeat;
	background-size: contain;

}
.bush{
	position: absolute;
	top: 87%;
	left: 18%;
	background-image: url("../img/bush.png");
	height: 68px;
	width: 185px;
	background-repeat: no-repeat;
	background-size: contain;
}
.pipe{
	position: absolute;
	top: 84%;
	left: 6%;
	background-image: url("../img/pipe.png");
	height: 70px;
	width: 85px;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 20;

}
.pipeTxt{
	color: white;
	font-size: 1.5em;
	font-family: "mario", sans-serif;
	position: relative;
	top: -48%;
	left: -30%;
	display: none;
}
.luigi{
	background-image: url("../img/luigi.png");
	height: 100px;
	width: 50px;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	display: inline-block;
	top: 74%;
	left: 8%;
	display: none;
}

.lugiTxt{
	color: white;
	font-size: 1em;
	width: 200px;
	text-align: center;
	line-height: 1.3em;
	font-family: "mario", sans-serif;
	position: relative;
	top: -48%;
	left: -140%;
}
